h1 {
  font-size: 60px !important;
}
h2 {
  font-size: 40px !important;
  padding-bottom: 20px;
  background-color: #1f85ad;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

p,
li {
  font-size: 24px;
  text-align: justify;
}
.slidev-code {
  font-size: 20px !important;
  padding: 10px !important;
  line-height: 28px !important;
}

.footnotes-sep {
  @apply mt-10 opacity-10;
}
.footnotes {
  @apply text-sm opacity-75;
}
.footnotes p {
  font-size: 22px !important;
  line-height: 2rem !important;
}
.footnote-backref {
  display: none;
}

.katex {
  font-size: 1em !important;
}
